        * {
            margin: 0;
            padding: 0;
        }
        
        #divv {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url(../pictures/images/donation5.jpg) no-repeat center/cover;
            width: 100vw;
            height: 75vh;
        }
        
        #divv .head1 {
            color: white;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
            font-size: 50px;
            letter-spacing: 2px;
            padding-top: 135px;
        }
        
        #divv .info1 {
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 20px;
            line-height: 25px;
            font-weight: 300;
            font-size: 17px;
            letter-spacing: 1.5px;
        }
        
        .button1 {
            margin-top: 30px;
        }
        
        .btn {
            padding: 10px 30px;
            background-color: #ff7200;
            border-radius: 25px;
            border: none;
        }
        
        .btn a {
            font-size: 20px;
            border: 1px solid #ff7200;
            color: white;
            text-decoration: none;
            font-weight: 700;
            transition: .2s ease-in-out;
        }
        
        .btn a:hover {
            color: black;
        }
        
        .div1 {
            width: 100%;
            text-align: center;
            height: 55vh;
        }
        
        #div11 {
            width: 100%;
            text-align: center;
            height: 30vh;
        }
        
        .div1 .head1 {
            color: rgb(0, 0, 0);
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
            font-size: 50px;
            letter-spacing: 2px;
            padding-top: 55px;
        }
        
        .div1 .info1 {
            color: rgb(0, 0, 0);
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 20px;
            line-height: 25px;
            font-weight: 300;
            font-size: 17px;
            letter-spacing: 1.5px;
        }
        
        .amount {
            display: flex;
            justify-content: center;
            margin: 60px 0px;
        }
        
        .amount .tk {
            border: 2px solid #ff7200;
            margin: 0px 40px;
            padding: 20px 35px;
            cursor: pointer;
            border-radius: 10px;
            transition: .2s ease-in-out;
            font-size: 20px;
        }
        
        .amount .tk:hover {
            background-color: #ff7200;
            color: white;
        }
        
        .otheramount {
            margin-bottom: 30px;
        }
        
        .otheramount input {
            border: none;
            border-bottom: 3px solid #ff7200;
            border-radius: 5px;
            padding: 10px 200px;
        }
        
        .otheramount ::placeholder {
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
        }
        
        input:focus {
            outline: none;
        }
        
        section {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        section .planning {
            margin-left: 40px;
            padding: 20px 30px 60px;
            border-radius: 40px;
            background: linear-gradient(rgba(228, 158, 29, 0.507), rgba(198, 198, 185, .05));
        }
        
        section #pla1 img {
            width: 93px;
        }
        
        section .planning img {
            width: 80px;
        }
        
        section .planning h3 {
            font-size: 35px;
            padding: 20px 0px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        section .planning p {
            line-height: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .part {
            display: flex;
            margin-top: 100px;
        }
        
        .part .discription {
            width: 37%;
            padding-left: 200px;
        }
        
        .part .head2 {
            padding-bottom: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .part .info2 {
            line-height: 20px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 50px;
        }
        
        .part .img1 {
            width: 60px;
        }
        
        .part .img1 img {
            border-radius: 150px;
            width: 700px;
        }
        
        #partspecial1 .discription {
            padding-top: 100px;
        }
        
        #partspecial2 .discription {
            padding-top: 15px;
        }
        
        #fdiv1 {
            margin-top: -45px;
            height: 45vh;
        }
        
        #fdiv1 .head1 {
            padding-top: 150px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .center {
            width: 50vw;
            margin: 0% 25%;
            text-align: center;
        }
        
        #fdiv1 .info1 {
            text-align: center;
        }
        
        .submission {
            padding: 35px 0px;
            background: linear-gradient(rgba(206, 206, 136, 0.747), rgba(164, 106, 106, 0));
            border-radius: 30px;
        }
        
        .submission input {
            height: 29px;
            padding-top: 5px;
            width: 300px;
            text-align: center;
            border-radius: 25px;
            border: 2px solid #dd7200;
            font-size: 20px;
            padding-bottom: 5px;
        }
        
        form button {
            font-size: 20px;
            border: 1px solid #ff7200;
            color: white;
            text-decoration: none;
            font-weight: 700;
            cursor: pointer;
            transition: .2s ease-in-out;
        }
        
        form button:hover {
            color: black;
        }
        
        .submission input:focus {
            outline: none;
        }
        
        footer {
            margin-top: 100px;
            background: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
            border-top-left-radius: 80px;
            border-top-right-radius: 80px;
            color: white;
            text-align: center;
        }
        
        footer h2 {
            padding-top: 50px;
            padding-bottom: 30px;
            font-family: cursive;
            color: #ff7200;
            letter-spacing: 2px;
            font-size: 50px;
        }
        
        footer p {
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 300;
        }
        
        footer #footp {
            padding-bottom: 40px;
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 300;
        }